[submodule "tools/re-pwn/qrack"]
	path = tools/re-pwn/qrack
	url = https://github.com/qrxnz/qrack.git
[submodule "tools/re-pwn/embe221ed-scripts"]
	path = tools/re-pwn/embe221ed-scripts
	url = https://github.com/qrxnz/embe221ed-scripts.git
[submodule "tools/cryptography/mRemoteNG_password_decrypt"]
	path = tools/cryptography/mRemoteNG_password_decrypt
	url = https://github.com/qrxnz/mRemoteNG_password_decrypt.git
[submodule "tools/hardware/bletools"]
	path = tools/hardware/bletools
	url = https://github.com/qrxnz/bletools.git
[submodule "tools/stego-forensics/stego-toolkit-nix"]
	path = tools/stego-forensics/stego-toolkit-nix
	url = https://github.com/qrxnz/stego-toolkit-nix.git
